.season, .duration, .diff, .countries {
    width: 28vw;
    height: 40px;
}
.countries {
    margin-bottom: 10px;
}
.name {
    height: 35px;
    width: 28vw;
}

.form {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(9, 1fr) 1fr 40px;
    height: 50vh;
}

.label {
    margin-top: 15px;
    padding: 0;
}

.create {
    padding: 30px;
    justify-self: center;
    align-self: center;
    background-color: white;
    width: 30vw;
    height: 70vh;
}

.main {
    position: relative;
    top: 115px;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    background-color: black;
    height: 90vh;
}

.charge {
    width: 50%;
}

.btns {
    display: flex;
    gap: 10px;
    
}

.button {
    width: 100px;
    height: 40px;
    margin: 0x 10px 0px 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
}

.button:hover {
    background-color: black;
    color: white;
    border: 2px solid black;

}

.block {
    width: 100px;
    height: 40px;
    margin: 0px 10px 0px 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
}

.showAct {
    justify-self: center;
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
}

.list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.countries {
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    width: auto;
    gap: 10px;
    justify-content: center;
}

.cSelect {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 70px);
    width: 25vw;
    height: 10px;
    align-items: center;
    gap: 5px;
}

.cShow {
    display: flex;
    width:45px;
    height: 20px;
    margin: 0;
    padding:0;
    justify-content: center;
    color: white;
}

.xbtn {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.xbtn:hover {
    background-color: black;
}