.WaitName {
    background-image: url(https://okdiario.com/img/2021/01/22/cuantos-paises-hay-en-el-mundo-y-cuales-son.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}