.cont2 {
    width: 96vw;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    align-items: center;
    height: 30px;
    font-weight: bold;
    padding:0 0 15px 0;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 1;
    width: 100vw;
}

.h3 {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 33vw;
    border: none;
    background-color: white;
}

.h3:hover {
    background-color: black;
    color: white;
    cursor: hand;
}

.block {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 33vw;
    border: none;
    background-color: white;
}

/* .searchBar {
    width: 33vw;
    border: none;
    background-color: white;
    margin: 0;


}

.searchBar:hover {
    background-color: black;
} */